<h1>Curso</h1>
<ul>
    <li>{{colegio.nombre}}</li>
    {{#each colegio.alumnos}}

    <li>{{nombre}} {{apellido}} {{edad}}</li>
  
  {{/each}}
    <li>{{colegio.contacto}}</li>
    <li>{{colegio.ubicacion}}</li>
</ul>

<div> Este es el div del curso </div>